{{# each products}}
<div class="card-deck">
  {{# each this }}
  <div class="card">
    <img src="{{ this.imagePath }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ this.title }}</h5>
      <p class="card-text">{{ this.description }}</p>
    </div>
    <div class="card-footer">
      <div>
        <h2 class="price">${{ this.price }}</h2>
      </div>
      <div class="half">
        <a href="#" class="btn btn-primary pull-right">BUY NOW!</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>
</br>
{{/each}}